.calculator {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.screen {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}
.button {
    background-image: url(img1.jpg); /* Cambia 'ruta/a/la/imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el botón */
    /* Otros estilos que desees aplicar */
}
